<div class="container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
        <div fxLayout="column" fxFlex="15" flexLayoutAlign="center center">
          <div fxLayout="row" >
            <div>
              <img class="ml3 mr3" width="40%" [src]="data?.image_url" alt="Photo of a Shiba Inu">
            </div>
          </div>
        </div>

        <div *ngIf="data" class="min-height-300" fxLayout="column" fxLayoutAlign="center start" fxFlex>
          <div class="h2">
            {{data?.name}}
          </div>
          <div  class="h5">
            ABV : {{data?.abv}}
          </div>
          <div>
            {{data?.description}}
          </div>
        </div>
        <div class="min-height-300" fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
          <div class="mb3">
            <button mat-raised-button color="primary" (click)="getRandomBeer()">Another Beer</button>
          </div>
          <div>
            <button mat-raised-button color="primary" (click)="getRandomNonAlcoBeer()">Random non-alcholic Beer</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>