<mat-paginator class="mb1" [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]"
    (page)="onPageChange($event)">
</mat-paginator>
<div fxLayout="row wrap" fxLayoutAlign="space-between start">
    <ng-container *ngFor="let item of items">
        <app-list-item class="mt1" fxFlex="24" [data]="item" [layoutTemplate]="template"></app-list-item>
    </ng-container>
</div>
<mat-paginator class="mt1" [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]"
    (page)="onPageChange($event)">
</mat-paginator>