<div fxLayout="row" fxLayoutAlign="center">
  <div class="p2" fxLayout="column" fxFlex="80">

    <app-search [title]="'Search ' + listTitle" [searchModels]="searchModels" (searchCallback)="onSearch($event)"
      (clearCallback)="onClearSearch($event)" [options]="restaurantListMaster">
    </app-search>

    <div class="h1 mb2">
      {{ (searchMode) ? 'Search Results' : listTitle }}
    </div>
    <div *ngIf="searchMode && !searchResultList.length" fxLayout="row" fxLayoutAlign="center center">
      <div class="h1">No Results Found</div>
    </div>

    <app-list [items]="repositoriesList" [pageSize]="pageSize" [totalItems]="totalItems"
      (pageChange)="onPageChange($event)" [template]="listItemTemplate"></app-list>
  </div>
</div>

<ng-template #listItemTemplate let-data="data">
  <div class="mb1">
    <mat-card class="item-card">
      <mat-card-header>
        <mat-card-title class="ellipsis">{{data?.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Owner: {{data?.owner.login}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
